body {
    background: #121212;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: #00ffcc;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#gifContainer img {
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
}
footer {
    margin-top: 20px;
    padding: 15px;
    background: rgba(0,0,0,0.5);
    font-size: 14px;
}

footer span {
    color: #00ffcc;
    font-weight: bold;
}